#intro {
  height: cal(100vh-4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  color: #545454;
}

.bg {
  position: absolute;
  top: -4rem;
  right: 0rem;
  z-index: -2;
  object-fit: cover;
  object-position: top left;
  height: 100vh;
  animation: rotation 10s infinite linear;
}

.bg1 {
  position: absolute;
  top: -4rem;
  right: -2rem;
  bottom: -2rem;
  z-index: -1;
  object-fit: cover;
  object-position: top left;
  height: 100vh;
  animation: rotation 5s infinite linear;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  color: black;
  font-size: 1.75rem;
  font-weight: 300;
}

.introName {
  color: black;
  font-weight: bold;
}

.introParagraph {
  color: black;
  font-size: medium;
  font-weight: 300;
}

.btn {
  background: black;
  color: #e6e6dd;
  font-family: "Saira", sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background: #e6e6dd;
  color: black;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 840px) {
  .bg {
    right: -10vw;
  }
  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 480px) {
  .bg {
    right: -20vw;
  }
}
